.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  .h1{
    font-size: 64px;
    text-align: center;
    font-weight: 700;
    margin: -10px 0px 100px 0px;  
    color: rgb(0, 0, 0);
}