body{
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 20px;
    margin: 0 auto;
}

.main{
    /* display:block;
    align-items: center;
    justify-content:center ; */
    /* margin: 0 auto; */
    margin-left: 100px;
    margin-right: 100px;
}

.h1{
    font-size: 64px;
    text-align: center;
    font-weight: 700;
    padding-top: 30px;
    font-size: 60px;
    color: #000000;
}

table{
    font-size: 20px;
    align-items: center;
    border-collapse: collapse;
}

.tableKaryawan {
    border:solid 2px rgb(9, 9, 9);
    position: static;
    padding-top: 30px;
    height: 220px;
    overflow: auto;
    display: block;
    }

th,tr,td{
    border:solid 2px rgb(9, 9, 9);
}

thead{
    top: 0;
    position: static;
    background: #678eda;
    color: black;


}

  #searching{
   margin-left: 0px; 
   margin-top: 70px;
   width: 500px;
   margin-bottom: 20px;
  }