table tr:not(:first-child) {
    cursor: pointer;
    transition: all .25s ease-in-out;
}

table tr:not(:first-child):hover {
    background-color: #ddd;
}


.tabel-sc {
    border: solid 1px rgb(9, 9, 9);
    position: relative;
    height: 200px;
    overflow-y: scroll;
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

form {
    margin-top: 20px;
    border: black solid 1px;
    width: 600px;
}

th,
tr,
td {
    border: solid 1px rgb(9, 9, 9);
}

thead {
    top: 0;
    position: sticky;
    background: #37cfc8;
    color: black;
}

th {
    padding: 8px;
}

#searching {
    margin-top: 100px;
    margin-left: 0px;
    width: 500px;
    margin-bottom: 20px;
}

/* tr:nth-child(even) {
    background-color: #bebbbb;
} */

#kode {
    margin-top: 20px;
    margin-left: 40px;
}

#nama {
    margin-left: 37px;
}

#harga {
    margin-left: 37px;
}
#stok {
    margin-left: 47px;
}

#edit {
    margin-bottom: 20px;
}