body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #252a2e;
    -webkit-text-size-adjust: 100%;
    /* -webkit-tap-highlight-color: transparent; */
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: -webkit-fill-availeble;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 350px;
    height: 100%;
    background: #505cfd;
    transition: all 0.5s ease;
}

.sidebar .top {
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 70px;
    background-image: linear-gradient(to right, #25008a, #3b6bef);
}
.sidebar .bottom {
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 100px;
    /* background-image: linear-gradient(to right, #25008a, #3b6bef); */
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #fff;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(6, 255, 251, 0.1);
    border-bottom: 1px solid rgba(125, 134, 146, 0.302);
    transition: all 0.5s ease;
}

ul li:hover a {
    padding-left: 100px;
    background: #3c99f0;
    color: rgb(0, 0, 0);
}

.sidebar ul a i {
    margin-right: 16px;
}


#check {
    display: none;
}

#btn {
    position: fixed;
    cursor: pointer;
    background: hsl(0, 0%, 100%);
    border-radius: 3px;
}
#btnclose {
    position: fixed;
    cursor: pointer;
    background: #ffffff;
    border-radius: 3px;
}


#btn {
    z-index: 1111;
    left: 20px; 
    top: 30px;
    font-size: 20px;
    color: #000000;
    padding: 4px 9px;
    transition: all 0.5s ease;
}

#btnclose {
    z-index: 1111; 
    left: 20px;
    top: 30px;  
    font-size: 20px;
    color: #000000;
    padding: 4px 9px;
    transition: all 0.5s ease;
}


section {
    background: #3a85e0;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


